.call-to-action {
  position: fixed;
  bottom: 50px;
  right: -100%;
  padding: 20px;
  background-color: rgba($white, 1);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition: .3s;
  .btn-square {
    text-align: center;
    padding: 10px 20px;
  }
  &.active {
    right: 0
  }
  &:hover {
    opacity: 1;
  }
}
