.chart {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 30px auto 90px;
  // border: 2px solid $white;
  .option-counter {
    position: relative;
    min-width: 50px;
    height: 40px;
    margin: 50px 0 10px;
    display: block;
    border: 1px solid rgba($white, 0.8);
    // background-image: url("/static/image/artboard-6.png");
    &:nth-child(even) {
      span {
        position: absolute;
        left: 50%;
        top: 100%;
        width: 150px;
        margin-left: -10px;

        margin-top: 5px;
        color: $green;
        font-size: 16px;
        letter-spacing: 3px;
        &:before {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $green;
        }
      }
    }
    &:nth-child(odd) {
      span {
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 150px;
        margin-left: -10px;

        margin-bottom: 5px;
        color: $green;
        font-size: 16px;
        letter-spacing: 3px;


        &:after {
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid $green;
        }
      }
    }
  }
}

.statge {
  .chart .option-counter {
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background: linear-gradient(-90deg, lighten($green, ($i - 1) * 10%), lighten($green, ($i) * 10%));
      }
    }
  }
}
