.content-result {
  color: $green;
  padding: 20px;

  .content-result-title-wrapper {
    height: 650px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    h1 {
      color: $green;
      margin: 30px 0;
      font-size: 40px;
      font-weight: 100;
      line-height: 1.76;
    }
    span {
      position: relative;

      width: 1px;
      border-left: 3px solid $white;
      &:first-child {
        flex: 3;
        border-color: $green;
        &:after {
          position: absolute;
          left: -7px;
          top: 100%;
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: $green;
        }
      }
      &:last-child {
        flex: 2;
        border-color: $green;
        &:before {
          position: absolute;
          left: -7px;
          bottom: 100%;
          content: '';
          display: block;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: $green;
        }
      }
    }
  }
}

.title {
  display: flex;
  margin: 30px 0 50px 0;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: 400;
    margin: 0 30px;
  }
  span {
    height: 1px;
    border-bottom: 3px solid $white;
    flex: 1;
  }
}

.statge-wrapper {
  width: 100%;
  position: relative;
}

.statge {
  .title {
    span {
      border-color: $green;
    }
    h1 {
      color: $green;
    }
  }
  .question {
    .options {
      li {
        border: 2px solid rgba($green, 0.5);
      }
    }
  }
}
