.intro {
  color: darken($green, 10%);
  @include media("s") {
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    margin-bottom: 50px;
    @include media("s") {
      font-size: 20px;
      margin: 10px;
    }
  }
  p {
    font-size: 24px;
    margin: 50px auto;
    max-width: 800px;
    letter-spacing: 1px;
    line-height: 1.76;
    @include media("s") {
      font-size: 16px;
      margin: 10px;
    }
    .big-text {
      font-size: 34px;
      margin: 5px;
    }
    .bold {
      font-weight: 400;
      color: $green;
    }
    a {
      color: darken($orange, 5%);
      font-weight: 400;
      cursor: pointer;
      transition: .3s;
      &:hover {
        color: $orange;
      }
    }
  }
}
