.question {
  padding: 50px 0 70px;
}
.question-title {
  font-size: 50px;
  color: lighten($black, 25%);
}
.question-subtitle {
  font-size: 20px;
  color: lighten($black, 25%);
  max-width: 800px;
  margin: 30px auto;
}
.options {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    background: rgba(white, 0.3);
    box-sizing: border-box;
    padding: 20px;
    list-style: none;
    width: 330px;
    margin: 10px 20px;
    img {
      width: 100%;
    }
    p {
      font-size: 16px;
      color: darken($gray, 30%);
      margin-top: 20px;
    }
  }
}
