<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>client</title>
  <link href="/app/static/css/app.e487c68df2cc934ad577deb56d7c6903.css" rel="stylesheet"></head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="/app/static/js/manifest.81088d2cbc337b8132e0.js"></script><script type="text/javascript" src="/app/static/js/vendor.448f2d15e3f6731dd22b.js"></script><script type="text/javascript" src="/app/static/js/app.f9f173603886605ee0c8.js"></script></body>
</html>
