<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Jiminycricket">
  <meta property="og:title" content="民生派對 2017" >
  <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/minelectro-annual-party-2017.appspot.com/o/og.png?alt=media&token=4ddffe96-916d-433f-92ea-f1e624c7dc6a">
  <meta property="og:description" content="我剛參與了民生派對 2017 的票選活動，這次讓我們一起完成！" >
  <link href="https://firebasestorage.googleapis.com/v0/b/minelectro-annual-party-2017.appspot.com/o/favicon.ico?alt=media&token=1bc994dc-5907-4c77-ae9b-1fa92bff366a" rel="icon" type="image/x-icon">

  <!-- Latest compiled and minified CSS -->
  <title>民生派對 2017 "這次我們一起完成"</title>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '121022265248087');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=121022265248087&ev=PageView&noscript=1"></noscript>
  <!-- End Facebook Pixel Code -->
   <!-- Global Site Tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107298467-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag() { dataLayer.push(arguments) };
     gtag('js', new Date());

     gtag('config', 'UA-107298467-1');
   </script>
   <!-- built files will be auto injected -->
<script>
    fbq('track', 'ViewContent');
    gtag("event", "進入facebook分享網址")
</script>
<script>
  window.location = "https://www.flyingv.cc/projects/17360"
</script>
<body></body>
</html>
