<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" crossorigin="anonymous">

  <title>民生派對 2017 "這次我們一起完成" | 投票頁面</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <!-- Facebook Pixel Code -->
  <script>
    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return; n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
      n.queue = []; t = b.createElement(e); t.async = !0;
      t.src = v; s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '121022265248087');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=121022265248087&ev=PageView&noscript=1"></noscript>
  <!-- End Facebook Pixel Code -->
<link href="/app/static/css/app.a630d7daa985eb977ee0352a996a9ae8.css" rel="stylesheet"></head>
<script>
  fbq('track', 'Purchase', {value: '1.00', currency: 'TWD'});
</script>

<body>
  <script>
    window.votes = '{{{ votes }}}';
  </script>
  <div class="background-wrapper">
    <div class="background background-1"></div>
    <div class="background background-2"></div>
    <div class="background background-3"></div>
    <div class="background background-4"></div>
    <div class="background background-5"></div>
    <div class="background background-6"></div>
    <div class="background background-7"></div>
    <div class="background background-8"></div>
    <div class="background background-9"></div>
    <div class="background background-10"></div>
    <div class="background background-11"></div>
    <div class="background background-12"></div>
    <div class="background background-13"></div>
    <div class="background background-14"></div>
    <div class="background background-15"></div>
    <div class="background background-16"></div>
    <div class="background background-17"></div>
    <div class="background background-18"></div>
    <div class="background background-19"></div>
    <div class="background background-20"></div>
  </div>
  <div class="content">
    <h1 class="title text-center">由你決定派對的走向！</h1>
    <div class="content-vote-wording">
      <h2>投票注意事項：</h2>
      投票內容共 6 大項，投票者將可以決定：<br><br> 舞台風格、周邊設施、環境風格、酒水價格、現場票價、加碼方案。<br>
      <br> 持有選票者，將一次選完所有投票內容，而每當募資金額超過門檻，我們便會執行新的投票內容。 詳情可見 <a src="" target="_blank">民生派對2017 FlyingV 募資專頁</a>。
    </div>
    <span class="content-notice text-center">
        請注意：所有內容皆需投票才可以按下送出鍵，投票序號為一次性使用，選擇完成並送出後便無法更改。
      </span>
    <div class="question">
      <div class="question-item input-wrapper">
        <h2> 請輸入你的 flyingV 金流單號： </h2>
        <input class="input" type="password" name="" value="">
      </div>
    </div>
    <div class="question">
      <div id="question-1" class="question-item">
        <h2 class="text-center">主舞台風格 (二選一)</h2>
        <p class="text-center question-intro">聊到 Daft Punk 經典的 2007 LIVE in coachella，就一定會想到那經典的金字塔造型舞台，因為主舞台是一個派對裡，除了音樂，我們最容易注目的地方，所以這次民生派對2017的主舞台風格，當然是由我們一起決定！我們提供了下列兩種風格供你選擇</p>
        <ul class="options">
          <li class="option" data-vote-question="question_1" data-option-id="option_1_1">
            <img src="./static/image/option_1_1.jpg" alt="option1">
            <p class="question-subtitle">綠舞台</p>
          </li>
          <li class="option" data-vote-question="question_1" data-option-id="option_1_2">
            <img src="./static/image/option_1_2.jpg" alt="option1">
            <p class="question-subtitle">堆疊式舞台</p>
          </li>
        </ul>
      </div>
      <div id="question-2" class="question-item">
        <h2 class="text-center">環境風格 (三選一)</h2>
        <p class="text-center question-intro">在 2015 年的民生派對 #1 裡，最讓大家印象深刻的想必是舞池旁的花花草草，這次我們當然也花了很多心思在舞池旁的環境風格！我們提供了下列三種風格供你選擇，但要小心自己許下的願望...
        </p>

        <ul class="options">
          <li class="option" data-vote-question="question_2" data-option-id="option_2_1">
            <img src="./static/image/option_2_1.jpg" alt="option1">
            <p class="question-subtitle">倉庫風</p>
          </li>
          <li class="option" data-vote-question="question_2" data-option-id="option_2_2">
            <img src="./static/image/option_2_2.jpg" alt="option2">
            <p class="question-subtitle">和室風</p>
          </li>
          <li class="option" data-vote-question="question_2" data-option-id="option_2_3">
            <img src="./static/image/option_2_3.jpg" alt="option3">
            <p class="question-subtitle">里民中心風（我們真的會給你里民中心）</p>
          </li>
        </ul>
      </div>
      <div id="question-3" class="question-item">
        <h2 class="text-center">周邊設施 (四選二)</h2>
        <p class="text-center question-intro">一個派對，能讓耳朵稍微休息一下的周邊設施也是很重要的，除了市集以外，來看看我們提供了什麼樣的選擇</p>

        <ul class="options options-two-layer">
          <li class="option" data-vote-question="question_3" data-option-id="option_3_1">
            <img src="./static/image/option_3_1.jpg" alt="option1">
            <p class="question-subtitle">扭蛋機<br>內含各種派對小驚喜，轉了絕對物超所值</p>
          </li>
          <li class="option" data-vote-question="question_3" data-option-id="option_3_2">
            <img src="./static/image/option_3_2.jpg" alt="option2">
            <p class="question-subtitle">乒乓桌<br>當然不是一般的桌子，玩了會上癮的那種</p>
          </li>
          <li class="option" data-vote-question="question_3" data-option-id="option_3_3">
            <img src="./static/image/option_3_3.jpg" alt="option2">
            <p class="question-subtitle">飛鏢機<br>百發百中派對神射手，不用到酒吧就能玩</p>
          </li>
          <li class="option" data-vote-question="question_3" data-option-id="option_3_4">
            <img src="./static/image/option_3_4.jpg" alt="option2">
            <p class="question-subtitle">樂透機<br>休息一下買個好運氣，各種大獎定時抽出</p>
          </li>
        </ul>
      </div>
      <div id="question-4" class="question-item">
        <h2 class="text-center">酒水價格</h2>
        <p class="text-center question-intro">很簡單，你希望用多少錢買到酒？也是由你決定！</p>

        <ul class="options">
          <li class="option" data-vote-question="question_4" data-option-id="option_4_1">
            <img src="./static/image/option_4_1.jpg" alt="option1">
            <p class="question-subtitle">一罐 100</p>
          </li>
          <li class="option" data-vote-question="question_4" data-option-id="option_4_2">
            <img src="./static/image/option_4_2.jpg" alt="option2">
            <p class="question-subtitle">一罐 120</p>
          </li>
          <li class="option" data-vote-question="question_4" data-option-id="option_4_3">
            <img src="./static/image/option_4_3.jpg" alt="option2">
            <p class="question-subtitle">一罐 150</p>
          </li>
        </ul>
      </div>
      <div id="question-5" class="question-item">
        <h2 class="text-center">現場票價 (三選一)</h2>
        <p class="text-center question-intro">你希望當天才決定要來的朋友們，用多少錢買到門票？要鼓勵還是獎勵，派對最大權利也轉交給你！</p>

        <ul class="options">
          <li class="option" data-vote-question="question_5" data-option-id="option_5_1">
            <img src="./static/image/option_5_1.jpg" alt="option1">
            <p class="question-subtitle">800 元</p>
          </li>
          <li class="option" data-vote-question="question_5" data-option-id="option_5_2">
            <img src="./static/image/option_5_2.jpg" alt="option1">
            <p class="question-subtitle">1000 元</p>
          </li>
          <li class="option" data-vote-question="question_5" data-option-id="option_5_3">
            <img src="./static/image/option_5_3.jpg" alt="option1">
            <p class="question-subtitle">1200 元</p>
          </li>
        </ul>
      </div>
      <div id="question-6" class="question-item">
        <h2 class="text-center">加碼方案</h2>
        <p class="text-center question-intro">最後，很重要的，如果這場派對能夠吸引到很多的人，為了表示我們深刻的感謝，我們希望給你們更多內容！看是要加開一天，還是每個人再多送一杯酒，由你們決定！</p>

        <ul class="options">
          <li class="option" data-vote-question="question_6" data-option-id="option_6_1">
            <img src="./static/image/option_6_1.jpg" alt="option1">
            <p class="question-subtitle">主派對活動加開第二天<br> (12/1 星期五)</p>
          </li>
          <li class="option" data-vote-question="question_6" data-option-id="option_6_2">
            <img src="./static/image/option_6_2.jpg" alt="option2">
            <p class="question-subtitle">主派對活動加開第二天<br> (12/3 星期日)</p>
          </li>
          <li class="option" data-vote-question="question_6" data-option-id="option_6_3">
            <img src="./static/image/option_6_3.jpg" alt="option1">
            <p class="question-subtitle">所有購票者加贈酒水一份</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="vote-btn-wrapper">
      <div class="js-send-votes vote-btn">我選好了！</div>
    </div>
  </div>




  <div class="modal content-success fade" data-keyboard="false" id="successModal" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="successModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="successModalLabel">你的選擇我們收到了！</h4>
        </div>
        <div class="modal-body">
          <p>恭喜您投票成功，後續請密切注意民生電氣粉絲團，我們會陸續公佈最新結果及相關訊息！</p>
          <a class="btn-square">去看投票結果</a>
        </div>
        <div class="modal-footer">
          <footer>
            <div class="flex text-center logo">
              <span></span>
              <img src="../static/image/wording-6.svg" alt="">
              <span></span>
            </div>
            <div class="links">
              <a href="https://www.facebook.com/minelectroinc/?ref=br_rs" target="_blank">民生電氣</a>
              <a href="https://www.facebook.com/events/1382027685223368/?acontext=%7B%22action_history%22%3A%22[%7B%5C%22surface%5C%22%3A%5C%22page%5C%22%2C%5C%22mechanism%5C%22%3A%5C%22page_upcoming_events_card%5C%22%2C%5C%22extra_data%5C%22%3A[]%7D]%22%2C%22has_source%22%3Atrue%7D" target="_blank">民生派對 2017</a>
              <a href="#" target="_blank">flyingv 民生派對募資</a>
            </div>
          </footer>
        </div>
      </div>
    </div>
  </div>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107298467-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());

    gtag('config', 'UA-107298467-1');
  </script>
  <!-- built files will be auto injected -->
<script type="text/javascript" src="/app/static/js/manifest.f46b01c6e21be9fb7cdb.js"></script><script type="text/javascript" src="/app/static/js/vendor.6b6aa3eda4a89b345215.js"></script><script type="text/javascript" src="/app/static/js/app.371e85ca64dd76676432.js"></script></body>

</html>
