html {
  overflow-x: hidden;
}
body {
  font-family: 'PingFang TC', 'Helvetica Neue', 'Microsoft JhengHei', 'sans-serif';
  overflow: hidden;
  width: 100%;
}

a {
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

.background-wrapper {
  opacity: 1;
}

.background {
  position: fixed;
  top: 0;
  width: 6%;
  height: 100%;
  z-index: -1;
  background: linear-gradient($green, $light-green, $orange, $yellow);
}

@keyframes bg {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-20%);
  }
  30% {
    transform: translateY(-20%);
  }
  45% {
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(20%);
  }
  90% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}
@for $i from 1 through 20 {
  .background-#{$i} {
    height: 300% - (($i - 1) * 10%);
    top: -100% + (($i - 1) * 5%);
    left: ($i - 1) * 5%;
    &.active {
      animation-name: bg;
      animation-duration: 1s;
      animation-delay: .05s * $i;
    }
  }
}

.content-wrapper {
  max-width: 1880px;
  width: 90%;
  margin: 0 auto;
  background-color: rgba($white, 0.4);
  padding: 20px;
  @include media("s") {
    padding: 10px;
  }
}
