.content-result {
  color: $white;
  padding: 20px;
  background: linear-gradient(transparent, rgba(white, 0.6), rgba(white, 0.1), transparent);
}

.title {
  display: flex;
  margin: 100px 0 50px 0;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: 400;
    margin: 0 30px;
  }
  span {
    height: 1px;
    border-bottom: 1px solid $white;
    flex: 1;
  }
}

.statge-wrapper {
  width: 100%;
  position: relative;
}

.statge-1 {
  .title {
    span {
      border-color: $green;
    }
    h1 {
      color: $green;
    }
  }
  .question {
    .options {
      li {
        border: 2px solid rgba($green, 0.5);
      }
    }
  }
}

.statge-3 {
  .title {
    span {
      border-color: darken($yellow, 10%);
    }
    h1 {
      color: darken($yellow, 10%);
    }
  }
  .question {
    .options {
      li {
        border: 2px solid rgba(darken($yellow, 10%), 0.5);
      }
    }
  }
}


.statge-2 {
  .title {
    span {
      border-color: darken($orange, 10%);
    }
    h1 {
      color: darken($orange, 10%);
    }
  }
  .question {
    .options {
      li {
        border: 2px solid rgba(darken($orange, 10%), 0.5);
      }
    }
  }
}

